<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RealTemp4RTSS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <RealTemp4RTSS.Properties.Settings>
            <setting name="StartMinimised" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotifyNewVersions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastVersionCheck" serializeAs="String">
                <value>2012-01-01</value>
            </setting>
            <setting name="CurrentVersion" serializeAs="String">
                <value />
            </setting>
        </RealTemp4RTSS.Properties.Settings>
    </userSettings>
</configuration>
